<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Waitstaff-Calculator</title>

	<!--CSS-->
    <link rel="stylesheet" href="main.css">
    <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>

    <!--JS-->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="myApp.js"></script>

</head>
<body ng-controller="MyCtrl">


	<section class="left">
		<img src="icon.png" id="icon">
		<h1> WaitStaff <br> Calculator </h1>

		<h2>Enter Meal Details</h2>
			
		<form class="inputs" ng-submit="calculate()">
			<p>
				Base Meal Price: $ <input type="number" ng-model="price" required/>
			</p>
			<p>
				Tax Rate: % <input type="number" ng-model="tax_p" required/>
			</p>
			<p>
				Tip Percentage: % <input type="number" ng-model="tip_p" required/>
			</p>

			<button type="submit" class="btn"><a href="#/calculator">Submit</a></button>

			<button type="button" class="btn" ng-click="price=null; tax_p=null; tip_p=null">Clear</button>
		</form>
		
	</section>


	<section class="right">

		<nav class="tabs">
			<a href="#/">Welcome</a>
			<a href="#/calculator">Meal Chargers</a>
			<a href="#/summary">My Earnings</a>
		</nav>

		
		<div ng-view class="animate-view"></div>
		
			
		
	</section>




	
</body>
</html>